version: 2
jobs:
  build:
    machine:
      docker_layer_caching: true
    steps:
      - checkout
      - run:
          name: build Elixir image
          command: docker build -t circleci/elixir:example .

  build-no-dlc:
    machine: true
    steps:
      - checkout
      - run:
          name: build Elixir image
          command: docker build -t circleci/elixir:example .
  build-no-dlc:
    docker:
      - image: circleci/node:latest
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true  # default - false
      - run:
          name: build Elixir image
          command: docker build -t circleci/elixir:example .

workflows:
  version: 2
  app:
    jobs:
      - build
      - build-no-dlc
